.layout {
}

.logoList {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 30px;
}

.logoReact {
  width: 150px;
}

.logoNode {
  width: 150px;
}
