@import '../../app/styles/mixins/breakpoint.scss';

.layout {
}

.logoList {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 30px;

  @include mobile {
    column-gap: 10px;
  }
}

.logoReact {
  width: 150px;

  @include mobile {
    width: 70px;
  }
}

.logoNode {
  width: 150px;

  @include mobile {
    width: 70px;
  }
}
